services:
  db:
    image: postgres:17.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hallgeir
    ports:
      - "5432:5432"

volumes:
  db_data:
